<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
.jumbotron {
  background-color: #0849A3;
  color: #ffffff;
}
</style>



<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="/">U.S. Suicide Dashboard</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">View National Data</a</li>
                <li><a href="region">View Regional Data</a</li>
                <li><a href="state">View by State</a></li>
                <li><a href="military">View by Military Branch</a></li>
                <li><a href="methods">Rates and Methods Explorer</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="jumbotron text-center">
      <h1>U.S. Suicide Dashboard</h1>
      <p>A comparison of civilian, veteran, and military deaths by suicide</p>
      <b><i><h2>Military Data</h></b></i>
    </div>

    <div class="container">
        <i><p>Note: Military suicide data is unavailable by state.</p></i>
    </div>
    
    <div class="container">
      <form action="/submitmilitary" method="POST">
          <div class="form-group">
              <h4>Select Year Range:</h4>
              <p>from 
              <select name="year1">
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
              </select>
              to 
              <select name="year2">
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  </select></p>
            </div>
            <div class="form-group">
              <h4>Select Branche(s):</h4>
                <input type="checkbox" name="combined"> All Branches Combined<br>
                <input type="checkbox" name="army"> Army <br>
                <input type="checkbox" name="navy"> Navy<br>
                <input type="checkbox" name="marines"> Marines<br>
                <input type="checkbox" name="airforce"> Air Force<br>
            <div class="form-group">
            <h4>Military View Options:</h4>
                <input type="checkbox" name="showrank"> Show Rank<br>
                <input type="checkbox" name="showmh"> Show Mental Health History <br>
                <input type="checkbox" name="showaccess"> Show Access to Gun in the Home <br>
            </div>
            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
    
    <div class="container">
      <h2>Results:</h2>  
      {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
      {% endif %}          
      <table class="table table-striped">
          <tbody>
              <tr>
                  {% for header in headings %}
                  <th>{{ header }}</th>
                  {% endfor %}
              </tr>
              {% for row in military %}
                  <tr>
                      {% for cell in row %}
                        <td>{{cell}}</td>
                      {% endfor %}
                  </tr>
              {% endfor %}
        </tbody>
      </table>
    </div>
 
    
</body>
</html>
